@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
  --primary-color: #1e88e5; 
  --secondary-color: #1976d2; 
  --info-color: #ffacac74; 
  --black-color: #212121; 
  --body-color: #e5e5e5b1; 
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: var(--body-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar {
  background-color: var(--primary-color);
}

.form-control:focus {
  border-color: var(--secondary-color);
  box-shadow: 0 0 0 0.2rem rgba(33, 150, 243, 0.25);
}

.alert-info {
  background-color: var(--info-color);
  color: var(--black-color);
}

.btn-primary {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  color: #fff;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: #fff;
}

.footer {
  background-color: var(--info-color);
  color: #fff;
}
